*.un~
*.gch
*.txt
tags
*.pyc
*.attr
*.DS_Store
.clang_complete
tags
ctags
build/
*/vc/
*/xcode/
*.sublime-project
*.sublime-workspace
uvChecker/.idea/
uvChecker/cmake-build-debug/
modules/
!CMakeLists.txt
!CMakeLists_template.txt
plug-ins/
maya_complete_modules
